<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.springvue.dao.PointHistoryMapper">
    <resultMap id="BaseResultMap" type="com.example.springvue.entity.PointHistory">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_id" jdbcType="INTEGER" property="userId"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, user_name, create_time, score
  </sql>
    <!--更新积分-->
    <insert id="updateScore" parameterType="com.example.springvue.pojo.dto.PointDTO">
    insert into
        t_point_history
        (user_id, user_name, create_time, score)
    values
        (#{userId,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR},
          #{createTime,jdbcType=TIMESTAMP}, #{score,jdbcType=INTEGER})
    </insert>
    <!--查询用户积分历史记录-->
    <select id="getPointHistory" parameterType="java.lang.Long" resultType="com.example.springvue.pojo.bo.PointBO">
        select
            id,create_time,score
        from
            t_point_history
        where
            user_id=#{userId,jdbcType=INTEGER}
        order by
            create_time desc
    </select>
</mapper>